.about {
	font-size: 12px;
	width: 600px;
	color: #FFF;
	margin: auto;
}

.profile-photo {
	width: 300px;
	height: 500px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}

#photo-of-me {
	width: 500px;
	margin-left: -100px;
	margin-top: -100px;
}

.about a {
	color: #73C4CC;
	text-decoration: none;
}

.about a:hover {
	color: #B8D2D4;
	text-decoration: none;
}

.clearfloat {
	clear: both;
}