body {
	font-family: "Open Sans";
	font-size: 14px;
	padding: 0;
	margin: 0;
}

#sidenav {
    width: 160px; /* Set the width of the sidebar */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
    padding-left: 20px;
    position: fixed;
    left: 0;
}

#sidenav a {
	color: #73C4CC;
	text-decoration: none;
	display: block;
}

#sidenav a:hover {
	color: #73C4CC;
	text-decoration: line-through;
}

#main {
	margin-left: 180px;
	padding-top: 50px;
}