table.wordsearch {
    margin-left: auto;
    margin-right: auto;
}

.wordsearch td {
	font-size: 18px;
    color: #73C4CC;
    text-align: center;
    vertical-align: middle;
    padding: 8px 12px 8px 12px;
}

td.name {
    color: #FFF;
}