#sidenav {
    width: 120px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
    padding-left: 90px;
    position: fixed;
    left: 0;
}

#sidenav a {
    font-family: "Open Sans";
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
}

#sidenav a:hover {
    color: #B8D2D4;
}

#pages {
    padding-top: 20px;
}

#pages button {
    font-family: "Open Sans";
    font-size: 14px;
	color: #73C4CC;
	text-decoration: none;
    border: none;
    background-color: transparent;
	display: block;
    float: left;
    clear: both;
}

#pages button:hover {
	text-decoration: line-through;
}